body {
    background-color:pink;
}

#superior{
    background-color: aquamarine;
    font-size: xx-large;
    color:rgb(221, 160, 99);
}

#seccio_1¨{
    background-color:rgb(197, 197, 105)
    color: rgb(107, 220, 220);
}

#seccio_2{
    background-color: rgb(244, 238, 133);
    color: rgb(107, 220, 220);
}

#seccio_3{
    background-color: rgb(230, 207, 115);
    color: rgb(107, 220, 220);
}

#seccio_4{
    background-color: palegreen;
    color: rgb(107, 220, 220);
}

#menu {
    display: flex; /* el menú és un contenidor de tipus flex */
    height: 8vmax;
    }
    #menu i{
    flex: 1; /* cada botó pretén ocupar tot l'espai disponible */
    display: flex; /* contenidor flex on centrar-hi la icona */
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #950E17;
    font-size: 5vmax;
    cursor: pointer; /* en ordinadors, indica que s'hi pot fer clic */
    }

    @media (orientation: landscape) {
        body {
        
        flex-direction: row; /* sobreescriu la declaració flex-direction:
        
        column; */
        
        flex-flow: row-reverse; /* disposició de dreta a esquerra, per
        
        mostrar el menú a l'esquerra */
        }
        #superior {
        
        display: none; /* franja superior oculta per optimitzar l'espai
        
        */
        }
        #menu {
        flex-direction: column;
        width: 8vmax;
        height: auto; /* sobreescriu la declaració height: 8vmax; */
        }
    }